@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(38.95deg, #cebdec -10.38%, #f1d8e9 90.56%);
  }

  .bg-custom {
    background: linear-gradient(42.14deg, #9796f0 -17.31%, #fbc7d4 106.72%);
  }

  .bg-img {
    background-image: url("src/assets/img/Rectangle 85 (3).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-img2 {
    background-image: url("src/assets/img/Rectangle 88.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-img3 {
    background-image: url("src/assets/img/bg (10).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-bottom {
    background-image: url("src/assets/img/Rectangle 20 (5).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

body {
  width: 1899px;
  margin: 0 auto;
  font-family: "Questrial", sans-serif;
}
